<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>day_0301loginservlettest</display-name>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.loginservlettest.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/jsp/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newsprint</servlet-name>
		<servlet-class>com.loginservlettest.servlet.NewsPrintServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newsprint</servlet-name>
		<url-pattern>/jsp/NewsPrintServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.loginservlettest.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/jsp/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>startpost</servlet-name>
		<servlet-class>com.loginservlettest.servlet.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startpost</servlet-name>
		<url-pattern>/jsp/PostServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>printreplies</servlet-name>
		<servlet-class>com.loginservlettest.servlet.RepliesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>printreplies</servlet-name>
		<url-pattern>/jsp/RepliesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminlogin</servlet-name>
		<servlet-class>com.loginservlettest.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminlogin</servlet-name>
		<url-pattern>/adminjsp/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeletenews</servlet-name>
		<servlet-class>com.loginservlettest.servlet.NewsDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeletenews</servlet-name>
		<url-pattern>/adminjsp/NewsDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminaddnews</servlet-name>
		<servlet-class>com.loginservlettest.servlet.AdminAddnewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminaddnews</servlet-name>
		<url-pattern>/adminjsp/AdminAddnewsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeletenbanote</servlet-name>
		<servlet-class>com.loginservlettest.servlet.NBANoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeletenbanote</servlet-name>
		<url-pattern>/adminjsp/NBANoteDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeletecbanote</servlet-name>
		<servlet-class>com.loginservlettest.servlet.CBANoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeletecbanote</servlet-name>
		<url-pattern>/adminjsp/CBANoteDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeletewarriorsnote</servlet-name>
		<servlet-class>com.loginservlettest.servlet.WarriorsNoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeletewarriorsnote</servlet-name>
		<url-pattern>/adminjsp/WarriorsNoteDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeletecavaliersnote</servlet-name>
		<servlet-class>com.loginservlettest.servlet.CavaliersNoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeletecavaliersnote</servlet-name>
		<url-pattern>/adminjsp/CavaliersNoteDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admindeleteothernote</servlet-name>
		<servlet-class>com.loginservlettest.servlet.OtherNoteDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admindeleteothernote</servlet-name>
		<url-pattern>/adminjsp/OtherNoteDeleteServlet</url-pattern>
	</servlet-mapping>

</web-app>